<h1><%= @title %></h1>

<form action="/bmi" method="post">
  <select name="units">
    <option value="metric">Metric</option>
    <option value="imperial">Imperial</option>
  </select>
  <div>Mass<input name="mass"></div>
  <div>Height<input name="height"></div>
  <button>calculate</button>
</form>