<h1 class="calc-type"><%= @title %></h1>

<form action="/distance" method="post">
  <div>Distance<input name="distance"></div>
  <div>MPG<input name="mpg"></div>
  <div>Cost<input name="cost"></div>
  <div>Speed<input name="speed"></div>
  <button>calculate</button>
</form>