<!DOCTYPE html>
<html>
<head>
  <title >Calc It!</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/basic">Basic</a></li>
      <li><a href="/mortgage">Mortgage</a></li>
      <li><a href="/bmi">BMI</a></li>
      <li><a href="/distance">Distance</a></li>
    </ul>
  </nav>

  <%= yield %>

  <% if @result %>
  <div class="answer"><%= @result %></div>
  <% end %>

</body>
</html>