<h1><%= @title %></h1>

<form action="/mortgage" method="post">
  <div>Loan<input name="loan"></div>
  <div>APR<input name="apr"></div>
  <div>Term<input name="term"></div>
  <button>calculate</button>
</form>