<!DOCTYPE html>
<html>
<head>
  <title>Oink Oink Translator</title>
</head>

<body>
  <form action="/translate" method="post">
    <input name="word" autofocus>
    <button>translate</button>
  </form>
</body>
</html>